.transition {     
    @for $i from 1 through 10 {
        &--#{$i} {
            animation:fondu 4s 0.15s*$i  backwards ease;
            transform-origin: bottom;    
        }
    }   
}
@keyframes fondu{
    0% {
        transform: translateY(16px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}