body
{ 
    font-family: 'Roboto', sans-serif,verdana;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    text-align: center;   
}
h1{
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    font-weight: 400;
    padding: 15px 0 10px;
    margin: 0px;
}
h2{
    font-size: 27px;
}
h4{
    font-size: 16px;
}
.full{
    max-width: 1440px;
    margin: auto;   
}